body{
     margin: 0;
     background-color: #C0C0C0;
     font-family: 'Roboto', sans-serif;
    
}

header {
     padding: 50px;
     background-color: #red
}

body img{
     height: 150px;
     border-radius: 50%;
}

header, footer{
     background-color: #2E8B57; 
     text-align: center;
     color: #ffffff;
}

nav {
     background-color: #3CB371;  
     text-align: center;     
}

nav ul{
     margin: 0;
     padding: 10px;
}

nav ul li{
     display: inline;
     padding: 50px;
}

nav ul li a{
     text-decoration: none;
     font-weight: bold;
     text-transform: uppercase;
     color: #ffffff;
}

section {
     margin: 50px;
     padding: 50px;
     color: #ffffff;
     border-radius: 25px;
     background-color: #3CB371; 
}


footer {
     padding: 10px;
     margin-top: 20px;
}

.button{
     border: 0;
     color: #515f69;
     padding: 25px;
}

.button:hover {
     cursos: pointer;
     color: #ffffff;
     background-color: #8697a6;
}

.teste {
     display: flex;
     /*width: 400px;*/
}

.item-portfolio{
     
     width: 100px;
}

.invalid {
     border: 2px solid red;
}

.projetos_conteudo{
     display: flex;
     justify-content: center;
     gap: 50px;
}

.caixa{
     width: 150px;
     padding-left: 20px;
}

.caixa img{
     max-width: 100%;
}

form {
     width: 400px;
     padding: 20px;
     margin: 100px auto;
     border-radius: 15px;
     background- color: #BFCDD9;
     color: #515f69;
 }
 
 form fieldset {
     border: 0;  
 }
 
 form fieldset label {
     color: #515f69;
     display: block;
 }
 
 form fieldset input, textarea {
     width: 100%;
 }

@media screen and (max-width: 321px){
     nav ul {
          display: flex;
          flex-direction: column;
     } 

     section {
          padding: 0;
          margin: 0;
          border-radius: 0;
          
     }

     section h2 {
          text-align: center;
     }

     .projetos_conteudo {
          flex-direction: column; 
          justify-content: center;
          align-items: center;
     }

     form {
          width: 300px;
     }
}

    