body{
     margin: 0;
     background-color: #C0C0C0;
     font-family: 'Roboto', sans-serif;
}

header {
     padding: 50px;
}

body img{
     height: 150px;
     border-radius: 50%;
}

header, footer{
     background-color: #2E8B57; 
     text-align: center;
     color: #ffffff;
}

section {
     margin: 50px;
     padding: 50px;
     color: #ffffff;
     border-radius: 25px;
     background-color: #3CB371; 
}

footer {
     padding: 10px;
}